services:
  machine:
    image: web-machine
    hostname: web-machine
    build: machine
    networks:
      - hacking_net

  attacker:
    image: debian-attacker
    hostname: attacker
    build: attacker
    ports:
      - "2222:22"
    networks:
      - hacking_net
  
  checker:
    image: php:8.2-apache
    container_name: flag-checker
    ports:
      - "9090:80"
    volumes:
      - ./checker_site:/var/www/html
      - ./machine/flag:/opt/shared_flags:ro
    networks:
      - hacking_net

networks:
  hacking_net:
    driver: bridge
