services:
  machine:
    image: web-machine
    hostname: web-machine
    build: machine
    networks:
      - hacking_net

  attacker:
    image: debian-attacker
    hostname: attacker
    build: attacker
    ports:
      - "2222:22"
    networks:
      - hacking_net

networks:
  hacking_net:
    driver: bridge
