services:
  machine1:
    image: web-machine
    hostname: web-machine
    build: machine
    volumes:
      - ./flag:/flag
    ports:
      - 80:80
    networks:
      - hacking_net

networks:
  hacking_net:
    driver: bridge
